torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
xformers==0.0.25.post1
imageio==2.27.0
imageio[ffmpeg]
imageio[pyav]
peft==0.9.0
numpy==1.26.4
ms-swift==2.0.0
accelerate==0.28.0
diffusers==0.11.1
transformers==4.38.2
huggingface_hub==0.25.2
gradio==3.50.2
gdown
triton
einops
omegaconf
safetensors
spaces