torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
xformers==0.0.25.post1
imageio==2.27.0
gdown
einops
omegaconf
safetensors
gradio
triton
imageio[ffmpeg]
imageio[pyav]
ms-swift==2.0.0
accelerate==0.28.0
diffusers==0.11.1
transformers==4.38.2
spaces
peft==0.9.0
